{{#each Search}}
	<div class="col-sm-4">
    <h2 class="hbsTitle">{{ Title }}</h2>
    <h2 class="hbsYear">{{ Year }}</h2>
    <img src= http://img.omdbapi.com/?i={{ imdbID }}&apikey=8513e0a1 class='img-responsive'>
    <button class="seenIt" id="{{imdbID}}">Add Film</button>
    <input id="starRating{{imdbID}}" class="stars" data-min="0" data-max="5" data-step="1">
    <button type="button" class="close deleteButton" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

  </div>
{{/each}}