{{#each Search}}
	<div class="col-sm-4">
    <h2 class="hbsTitle">{{ Title }}</h2>
    <h3 class="hbsActors">{{ Actor }}</h3>
    <h3 class="hbsYear">{{ Year }}</h3>
    <img src= "http://img.omdbapi.com/?i={{ imdbID }}&apikey=8513e0a1" class='img-responsive'>
    <button class='addFilm' id="{{imdbID}}">Add Film</button>
  </div>
{{/each}}
